<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <!--For rendering _TitleBar View-->
    @*@Html.Partial("_TitleBar")*@
    @*Works same as above*@ 
    @{
        Html.RenderPartial("_TitleBar");
    }
    <div class="container body-content">
        <h5>Content rendering starts here</h5>
        @RenderBody()
        <h5>Content rendering ends here</h5>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            <!--Only renders section if the section is found in view.-->
            @*@if (IsSectionDefined("mySection"))
            {
                <p>@RenderSection("mySection")</p>
            }*@
            <!--Works same like the above piece of code-->
            <p>@RenderSection("mySection", false) </p> 
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>